$colors: (
  pureWhite: #fff,
  white: #ebebeb,
  lightWhite: #FAFAFA,
  cardBottom: #cacaca,
  purple: #6e396f,
  lightPurple: #50426c,
  gray: #5e5e5e,
  lightGray: #9d91ac,
  borderColor: #b1acb6,
  green: #43ae80,
);