@import "./colors";

.uppercase { text-transform: uppercase; }

@mixin fontWeight {
  font-weight: 600;
}

.btn {
  padding: 12px 8%;
  border-radius: 24px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;

  &--green {
    background-color: map-get($colors, green);
    color: map-get($colors, white);
  }

  &--gray {
    border: 1px solid map-get($colors, borderColor);
    color: map-get($colors, gray);
  }
}

.section-heading {
  color: map-get($map: $colors, $key: gray);
  font-size: 18px;
  @include fontWeight;
}

.info {
  color: map-get($map: $colors, $key: gray);
  font-size: 12px;
  line-height: 1.5;
}

@mixin responsive($value) {
  @media only screen and (max-width: $value) {
    @content;
  }
}

@mixin responsive-reverse($value) {
  @media only screen and (min-width: $value) {
    @content;
  }
}

@include responsive-reverse(995px) {
  .btn{
   &--green:hover{
     background-color: map-get($map: $colors, $key: white);
     color: map-get($map: $colors, $key: green);
   } 

   &--gray:hover{
    background-color: map-get($map: $colors, $key: gray);
    color: map-get($map: $colors, $key: white);
  } 
  }
}

@include responsive(560px) {
  .section-heading { font-size: 16px; }
}